{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "simple-import-sort/imports": "error"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "prettier",
    "simple-import-sort"
  ]
}